.dark {
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 10px;
  background-color: var(--darkestGray);
  border-radius: var(--borderRadius);
  border: 0;
  &:hover {
    background-color: var(--gray);
  }
  &:active {
    transform: translateY(0.5px);
  }
}
